ol {
    border: 3px solid black;
    border-width:1000;
    /*Add your CSS below this line*/
   /* width: 100px;
    height: 150px;*/
    max-width: 300;
    max-height: 100;
  }
  ul {
    border: 3px dotted grey;
    border-width:100px
      
    /*Add your CSS below this line*/
    width: 100px;
    height: 100px;
    overflow: auto;
  }